<% layout('layout/boilerplate.ejs') %> 

<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
  <h1 class="alert-heading">Oh no! :(</h1>

  <hr>
  <p class="mb-0">What do we do now?
  </p>

</div>
    </div>
</div>