<% layout('layout/boilerplate.ejs') %>

<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
      <h1 class="alert-heading">Oh no! :(</h1>

      <hr />
      <p class="mb-3">What do we do now?</p>

      <a href="/campgrounds"
        ><button class="btn btn-small btn-warning mb-3">Go back!</button></a
      >
    </div>
  </div>
</div>
