

.logo:hover{
    fill: #ffc107;
      -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-duration: 0.3s;
  
}


#aboutMeLink{
    text-decoration: none;
}

#aboutMeText{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 100px;
    margin-bottom: 5px;
}

#aboutMeText:hover{
 color: #ffbf00;
      transition-duration: 0.3s;
   transition-property: color;
  
}

